.sign-up {
  display: grid;
  place-items: center;
  height: calc(100vh - 60px);
  width: 100%;
}

.sign-up__form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}

.sign-up__form-title {
  font-size: var(--lg);
  margin-bottom: 36px;
  text-align: start;
}

.sign-up__form {
  display: flex;
  flex-direction: column;
}

.sign-up__form > div {
  display: flex;
  flex-direction: column;
}

.sign-up__label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 4px;
}

.sign-up__input {
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  height: 38px;
  font-size: var(--md);
  padding: 6px 8px;
  margin-bottom: 22px;
}

.sign-up__button {
  background-color: var(--primary-color);
  border-radius: 8px;
  border:none;
  color: var(--white);
  width: 100%;
  cursor:pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
  margin-top: 48px;
  margin-bottom: 30px;
}



